<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
  </head>
  <body style="height: 100%; padding: 0; margin: 0">
    <h1
      style="
        background-color: #1142bd;
        padding: 10px;
        padding-left: 50px;
        margin: 0;
      "
    >
      <img src="../../public/logo.png" style="width: 30px" />Khalbali
    </h1>
    <h2 style="text-align: center">
      <a href="{{link}}">Click here</a> to reset your password
    </h2>
  </body>
</html>
